*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    
    nav{
        justify-content: space-around;
        
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            height: 3rem;
            transition: .5s;
            
            &:hover{
                background-color: #3a3a3a;
                color: #c7c7c7;
            }
        }
    }

    
    footer, nav{
        display: flex;
        color: #fff;
        background-color: #000;
    }

    footer{
        height: 3rem;
        align-items: center;
        justify-content: center;
    }
}

section{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}




